<p>
  offers works!
</p>
<ul>
  <li class="text" *ngFor="let item of items | async">
    <dl>
      <dt>{{item.name}}</dt>
      <dd>{{item.offer}}</dd>
      <dd>{{item.offerType}}</dd>
      <dd>{{item.itemid}}</dd>
      <dd>{{item.initialCost}}</dd>
      <dd>{{item.finalCost}}</dd>
      <dd>{{item.thumbnailUrl}}</dd>
    </dl>
  </li>
</ul>
<!--<div>-->
    <!--{{items | async | json }}-->
<!--</div>-->
